
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="description" content="LAB 4">
            <meta name="author" content="{{author}}">
 <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>
        profile
    </title>
    </head>
        <body>
        <header>
        my profile
        </header>
        <content>
        <div class="container">
            <img src="https://scontent-yyz1-1.cdninstagram.com/vp/3b21764a33fcdaa145eb3bc225205409/5BB53563/t51.2885-15/e35/14727609_884534501682316_5690777322978803712_n.jpg?se=1" alt="SMH FFS">
            <h1>Hello my name is satrio raffani r</h1>
            <article>I am 19 years old</article>
            <article>My Hobby is reading wuxia</article>
	        <p>saya satrio dan saya suka ppw, tapi belum tentu ppw suka saya ea</p>
            <a href="/" class="button is-primary"><strong>form</strong></a>
        </div>
        </content>
        <footer>
 <!-- TODO Block Footer dan include footer.html -->
        </footer>
 <!-- JQuery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/Javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
