{% load staticfiles %}
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="description" content="LAB 4">
            <meta name="author" content="{{author}}">
 <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>
    </title>
    </head>
        <body>
        <header>

        </header>
        <content>
        <div class="container">

 {% block content %}
 <h1> Hello World! </h1>

    <div style="padding-left:10%;padding-right:10%">
	    <form method = "post" action=".">

        {% csrf_token %}
        {{ forms }}

        <button type="submit" class="btn btn-primary" style="margin-top:30px">Submit</button>
            <a href="/profile/" class="button is-primary"><strong>profile</strong></a>
    </form>

  {% for attribut in post %}
  <h4><br> {{ attribut.name }} </h4>  <h7> {{ attribut.createTime }} </h7>
  <p><br> {{ attribut.keadaan }} </p>
  {% endfor %}

 {% endblock %}
        </div>
        </content>
        <footer>
 <!-- TODO Block Footer dan include footer.html -->
        </footer>
 <!-- JQuery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/Javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>